<h4>注文履歴詳細</h4>

<%= form_with model:　@order, url: admin_orders_path(@order), method: :patch, local:true do |f| %>

<div class="order-info">
  <div>購入者</div>
  <di><%= @order.end_user.last_name %><%= @order.end_user.first_name %></di>
</div>

<div class="order-info">
  <div>配送先</div>
  <di>
    <%= @order.shipping_code %>
    <%= @order.shipping_address %>
    <%= @order.address %>
  </di>
</div>

<div class="order-info">
  <div>支払い方法</div>
  <div><%= @order.payment_option %></div>
</div>

<div class="order-info">
  <div>注文ステータス</div>
  <div>  <%= f.select :order_status, [["入金待ち", "0"], ["入金確認", "1"]],["製作中", "2"]],["発送準備中", "3"]],["発送確認", "4"]], include_blank: "選択して下さい" %></div>
  <div><%= f.submit '更新' %></div>
</div>




<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込） </th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @sum = 0 %>
    <% @order_items.each do |order_item| %>
    <tr>
      <th><%= order_item.item_name %></th>
      <th><%= order_item.item.non_taxed_price %></th>
      <th><%= order_item.amount %></th>
      <th><%= order_item.item.non_taxed_price.to_i * @order_item.amount.to_i %></th>
      <th> <%= f.select :production_status, [["着手不可", "0"], ["製作待ち", "1"]],["製作中", "2"]],["製作完了", "3"]], include_blank: "選択して下さい" %></th>
      <th><%= f.submit '更新' %></th>
      <% @sum += cart_item.item.non_taxed_price.to_i * cart_item.amount.to_i %>
    </tr>
    <% end %>
  </tbody>
</table>

<% end %>


<div>
  <p>商品合計 <%= @sum %>　円</p>
  <p>送料　800円</p>
  <p>請求金額合計　<%= @sum+800 %>　円</p>
</div>