<h4>ショッピングカート</h4>

<%= link_to 'カートを空にする', destroy_all_cart_items_path, method: :delete, class:"btn btn-danger btn-sm", data: {confirm: "カートを空にしますか？"} %>

<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sum = 0 %>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td>
        <%= attachment_image_tag(cart_item.item, :image, :fill, 100, 100, fallback: "no_image.jpg") %>
        <%= cart_item.item.item_name %>
      </td>
      <td><%= (cart_item.item.non_taxed_price*1.1).round %></td>
      <td>
        <%= form_with model:cart_item, url: cart_item_path(cart_item), local:true do |f| %>
        <%= f.number_field :amount %>
        <%= f.submit '変更' %>
        <% end %>
      </td>
      <td><%= (cart_item.item.non_taxed_price*1.1).round * cart_item.amount.to_i %></td>
      <td><%= link_to '削除する', cart_item_path(cart_item), method: :delete, class:"btn btn-danger btn-sm" %></td>
      <% @sum += (cart_item.item.non_taxed_price*1.1).round * cart_item.amount.to_i %>
    </tr>
    <% end %>
  </tbody>
</table>


<div class="cart-info">
  <div class="shopping">
    <%= link_to "買い物を続ける", root_path, class:"btn btn-primary" %>
  </div>
  <div class="sum">
    <h5>合計金額 <%= @sum %>円</h5>
  </div>
</div>


<%= link_to "情報入力に進む", new_order_path, class:"btn btn-success" %>
