<div class="item-info">
  <div>
    <%= attachment_image_tag(@item, :image, size: '500x200', fallback: "no_image.jpg") %>
  </div>
  <div>
    <h4><%= @item.item_name %></h4>
    <p><%= @item.description %></p>
    <h4>¥ <%= (@item.non_taxed_price*1.1).round %> （税込)</h4>
  </div>
  <div>
    <%= form_with url: cart_items_path, method: :post, model:@cart_item, local:true do |f| %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.select :amount, [1, 2, 3,4,5], {include_blank: '個数選択'} %>
      <%= f.submit "カートに入れる" %>
    <% end %>
  </div>
</div>


